<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="boosteradmin@jelix.org" name="boosteradmin" createdate="2011-05-15">
        <version date="2024-04-30">1.4.3</version>
        <label lang="en_US">BoosterAdmin</label>
        <description lang="en_US">Booster! Admin : manage the complet Booster WebSite</description>
        <label lang="fr_FR">BoosterAdmin</label>
        <description lang="fr_FR">Booster! Administration : module gestion complète du site Booster</description>
        <license URL="http://www.gnu.org/licenses/gpl.html">GNU Lesser General Public Licence, see LICENCE file</license>
        <copyright>2011 FoxMaSk, 2011-2024 Laurent Jouanneau</copyright>
        <creator name="FoxMaSk" since="2011-05-03" until="2013-02-17"/>
        <contributor name="laurentj" email="laurent@jelix.org" active="true" since="2011-06-04"/>
        <contributor name="FlorianLB" since="2011-05-15" until="2012-05-04"/>
        <homepageURL>https://booster.jelix.org/</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.7.*" maxversion="1.8.*"/>
        <module name="jacl2db_admin"/>
        <module name="jauthdb_admin"/>
        <module name="master_admin"/>
        <module name="booster"/>
    </dependencies>
</module>
