;<?php die(''); ?>
;for security reasons, don't remove or modify the first line

[jdb]
default=booster
jacl2_profile=booster

[jdb:booster]
driver=mysqli
database="__BOOSTER_JELIX_ORG_DB_NAME__"
host="__BOOSTER_JELIX_ORG_DB_HOST__"
user="__BOOSTER_JELIX_ORG_DB_LOGIN__"
password="__BOOSTER_JELIX_ORG_DB_PASSWD__"
persistent=on
force_encoding = on

; profile to access to the forum database
[jdb:hfnu]
driver=mysqli
database="__JELIX_ORG_DB_NAME__"
host="__JELIX_ORG_DB_HOST__"
user="__JELIX_ORG_DB_LOGIN__"
password="__JELIX_ORG_DB_PASSWD__"
persistent=on
force_encoding=on

;----------------- jCache
[jcache]

default = booster

[jcache:booster]
;    disable or enable cache for this profile
enabled = 1
;    driver type (file, db, memcached)
driver = file
;    TTL used (0 means no expire)
ttl = 0

; Automatic cleaning configuration (not necessary with memcached)
;   0 means disabled
;   1 means systematic cache cleaning of expired data (at each set or add call)
;   greater values mean less frequent cleaning
;automatic_cleaning_factor = 0

; Parameters for file driver :

; directory where to put the cache files (optional default jApp::tempPath('cache/'))
cache_dir =
; enable / disable locking file
file_locking = 1
; directory level. Set the directory structure level. 0 means "no directory structure", 1 means "one level of directory", 2 means "two levels"...
directory_level = 0
; umask for directory structure (default '0700')
directory_umask =
; prefix for cache files (default 'jelix_cache')
file_name_prefix = ""
; umask for cache files (default '0600')
cache_file_umask =

; Parameters for db driver :

; dao used (default 'jelix~jcache')
;dao = ""
; dbprofil (optional)
;dbprofile = ""


; Parameters for memcached driver :

; Memcached servers.
; Can be a list e.g
;servers = memcache_host1:11211,memcache_host2:11211,memcache_host3:11211 i.e HOST_NAME:PORT
;servers =
